* {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

#navbar {
    display: flex;
    align-items: center;
    /* position: absolute; */
    position: sticky;
    top: 0px;
    /* for vertical alignment */
    /* justify-content: center; */
    /* for horizontal alignment */
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#logo {
    cursor: pointer;
    margin: 10px 20px;
}

#logo img {
    border-radius: 50%;
    /* border: 2px solid red; */
    height: 70px;
    margin: 10px 10px;
}

#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    margin: 0px 3px;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}

#navbar ul li a:hover {
    color: red;
    background-color: aqua;
    border-radius: 8px;
}

#home {
    display: flex;
    flex-direction: column;
    padding: 5px 200px;
    justify-content: center;
    align-items: center;
    height: 400px;
}

#home::before {
    content: "";
    background: url(/food\ bg\ 2.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 70%;
    width: 100%;
    z-index: -1;
    opacity: 0.85;
}

#home h1 {
    text-align: center;
    color: rgb(140, 255, 0);
}

#home p {
    text-align: center;
    color: white;
    font-size: 1.5rem;
}

.primaryh {
    font-size: 3.8rem;
    padding: 12px;
}

.btn {
    font-size: 1.5rem;
    background-color: brown;
    margin: 17px;
    padding: 6px 20px;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid white;
}

.btn:hover {
    background-color: rgb(255, 1, 1);
    color: rgb(55, 189, 189);
}

.center {
    text-align: center;
}

.secondaryh {
    font-size: 2.3rem;
    padding: 12px;
}

#services {
    margin: 34px;
    display: flex;
}

#services .box {
    border: 2px solid red;
    padding: 34px;
    margin: 25px 6px;
    border-radius: 23px;
    background-color: rgb(241 241 241);
}

#services .box img {
    height: 160px;
    display: block;
    margin: auto;
}

.circle {
    border-radius: 50%;
}

#client-sec {
    position: relative;
    height: 344px;
    z-index: -1;
}

#client-sec::before {
    content: "";
    position: absolute;
    background: url(/food\ bg.jpg) no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}

.client {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item {
    padding: 34px;
}

.client img {
    margin: 3px 10px;
    height: 174px;
}

#contact {
    position: relative;

}

#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(/istockphoto-1143681097-640x640.jpg)no-repeat center center/cover;
}

footer {
    background-color: black;
    color: white;
    padding: 9px 20px;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;

}

#contact-box form {
    width: 40%;
}

#contact-box label {
    font-size: 1.3rem;
}



